<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_covid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECovid">
        <activity
            android:name=".MOH_MenuPage"
            android:exported="false" />
        <activity
            android:name=".Admin_MenuPage"
            android:exported="false" />
        <activity
            android:name=".User_MenuPage"
            android:exported="false" />
        <activity
            android:name=".View.QuarantineCenter.Admin_ViewQuarantineCenter"
            android:exported="false" />
        <activity
            android:name=".View.QuarantineCenter.Admin_AddQuarantineCenter"
            android:exported="false" />
        <activity
            android:name=".View.QuarantineCenter.Admin_QuarantineCenterMenu"
            android:exported="false" />
        <activity
            android:name=".View.QuarantineCenter.User_SearchQuarantineCenter"
            android:exported="false" />
        <activity
            android:name=".Controller.CheckIn_CheckOut.dumpClass"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>