<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_covid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECovid">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".View.QuarantineCenter.User_ViewQuarantineCenter"
            android:exported="false" />
        <!-- Menu Page -->
        <activity
            android:name=".View.Login.User_MenuPage"
            android:exported="false" />
        <activity
            android:name=".View.Login.MOH_MenuPage"
            android:exported="false" />
        <activity
            android:name=".View.Login.Admin_MenuPage"
            android:exported="false" />

        <!-- View Login package -->
        <activity
            android:name=".View.Login.AdminLogin"
            android:exported="true">
        </activity>
        <activity
            android:name=".View.Login.LoginActivity"
            android:exported="false" /> <!-- View User Quarantine package -->
        <activity
            android:name=".View.UserQuarantine.AdminMOH.Admin_DashboardUserQ"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.AdminMOH.Admin_Edit_UserQ"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.AdminMOH.Admin_Manage_Records"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.AdminMOH.AdminMOH_Manage_UserQ_Status"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.AdminMOH.AdminMOH_View_Record_UserQ"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.AdminMOH.MOH_Confrmation_UserQ_Record"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.AdminMOH.MOH_DashboardUserQ"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.CenterQuarantineData"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.CenterQuarantineOptions"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.DailyQuestions"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.HomeLocation"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.HomeQuarantineData"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.QuarantineDetails"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.QuarantineINFO"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.QuarantineType"
            android:exported="false" />
        <activity
            android:name=".View.UserQuarantine.User.UserRegistration"
            android:exported="false" />

        <!-- View Quarantine Center package -->
        <activity
            android:name=".View.QuarantineCenter.Admin_QuarantineCenterMenu"
            android:exported="false" />
        <activity
            android:name=".View.QuarantineCenter.Admin_ViewQuarantineCenter"
            android:exported="false" />
        <activity
            android:name=".View.QuarantineCenter.Admin_AddQuarantineCenter"
            android:exported="false" />
        <activity
            android:name=".View.QuarantineCenter.User_SearchQuarantineCenter"
            android:exported="false" /> <!-- View Vaccination package -->
    </application>

</manifest>