<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_covid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ECovid">
        <activity
            android:name=".MOH_View_Record_UserQ"
            android:exported="false" />
        <activity
            android:name=".MOH_Manage_UserQ_Status"
            android:exported="false" />
        <activity
            android:name=".admin_mvmentMenu"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Movement.Admin.admin_view_premises"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Movement.Admin.admin_view_person"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Movement.User.UserCheckIn"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Movement.User.CheckOut_Info"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Movement.User.CheckIn_Info"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Movement.User.MovementHistory"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Movement.User.MovementMain"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.User.User_Add_Dependent"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.MOH.View_Admin_Moh"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Vaccination.RegisterVaccinationCertificate"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Vaccination.DependentVaccineDetails"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Vaccination.DependentVaccineStatus"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Vaccination.RegisterAppointment"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI_Layer.View.QuarantineCenter.User.User_ViewQuarantineCenter"
            android:exported="false" /> <!-- Menu Page -->
        <activity
            android:name=".UI_Layer.View.Login.User.User_Menu_Page"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.MOH.MOH_Menu_Page"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.Admin.Admin_Menu_Page"
            android:exported="false" /> <!-- View Login package -->
        <activity
            android:name=".UI_Layer.View.Login.Admin.Admin_Login"
            android:exported="true" />
        <activity
            android:name=".UI_Layer.View.Login.User.User_Edit_Dependent"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.User.User_Login"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.User.User_Manage_Dependent_Profile"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.User.User_Manage_Profile"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.MOH.MOH_Login"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.User.User_Registration"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.Login.User.User_Update_Profile"
            android:exported="false" /> <!-- View User Quarantine package -->
        <activity
            android:name=".UI_Layer.View.UserQuarantine.AdminMOH.Admin_DashboardUserQ"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.AdminMOH.Admin_Edit_UserQ"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.AdminMOH.Admin_Manage_Records"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.AdminMOH.AdminMOH_Manage_UserQ_Status"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.AdminMOH.AdminMOH_View_Record_UserQ"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.MOH.MOH_Confrmation_UserQ_Record"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.MOH.MOH_DashboardUserQ"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.CenterQuarantineData"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.CenterQuarantineOptions"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.DailyQuestions"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.HomeLocation"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.HomeQuarantineData"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.QuarantineDetails"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.QuarantineINFO"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.QuarantineType"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.UserQuarantine.User.UserRegistration"
            android:exported="false" /> <!-- View Quarantine Center package -->
        <activity
            android:name=".UI_Layer.View.QuarantineCenter.Admin.Admin_QuarantineCenterMenu"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.QuarantineCenter.Admin.Admin_ViewQuarantineCenter"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.QuarantineCenter.Admin.Admin_AddQuarantineCenter"
            android:exported="false" />
        <activity
            android:name=".UI_Layer.View.QuarantineCenter.User.User_QuarantineCenterMenu"
            android:exported="false" />
    </application>

</manifest>